@font-face {
    font-family: 'Futura Today';
    src: url(../fonts/futura_today_normal.eot);
    src: url(../fonts/futura_today_normal.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_normal.woff) format("woff"),
         url(../fonts/futura_today_normal.ttf) format("truetype"),
         url(../fonts/futura_today_normal.svg#Futura_Today) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura Today Bold';
    src: url(../fonts/futura_today_bold.eot);
    src: url(../fonts/futura_today_bold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_bold.woff) format("woff"),
         url(../fonts/futura_today_bold.ttf) format("truetype"),
         url(../fonts/futura_today_bold.svg#Futura_Today_Bold) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura Today Demi Bold';
    src: url(../fonts/futura_today_demibold.eot);
    src: url(../fonts/futura_today_demibold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_demibold.woff) format("woff"),
         url(../fonts/futura_today_demibold.ttf) format("truetype"),
         url(../fonts/futura_today_demibold.svg#Futura_Today) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura Today Light';
    src: url(../fonts/futura_today_light.eot);
    src: url(../fonts/futura_today_light.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_light.woff) format("woff"),
         url(../fonts/futura_today_light.ttf) format("truetype"),
         url(../fonts/futura_today_light.svg#Futura_Today_Light) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(../fonts/helveticaneue-light-webfont.eot);
    src: url(../fonts/helveticaneue-light-webfont.eot?#iefix) format("embedded-opentype"),
         url(../fonts/helveticaneue-light-webfont.woff) format("woff"),
         url(../fonts/helveticaneue-light-webfont.ttf) format("truetype"),
         url(../fonts/helveticaneue-light-webfont.svg#Futura_Today_Light) format("svg");
    font-style: normal;
    font-weight: 400;
}

.newspaper-body {
    background: rgb(255,255,255);
    background: rgba(255,255,255, 1.0);
    color: rgb(79,79,79);
    color: rgba(79,79,79, 1.0);
    font-family: "Helvetica", Arial, sans-serif;
    font-size: 16px;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

/* mh = main header */

#mh-main-header {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 1.0);
    height: 115px;
    left:0;
    margin: 0px 0px 10px 0px;
    position:absolute;
    top:0;
    width: 100%;
}

.mh-usa-today-logo {
    content: url(../img/usa-today-desktop-logo.png);
    display: inline-block;
    margin: 25px 0px 20px 11%;
    max-width: 400px;
}

.mh-service-logo-image-not-container{
    display: inline-block;
    float: right;
    margin: -60px 11% 0px 0px;
    max-width: 300px;
}

/* csh = content section hero */

.csh-hero-section {
    background: url(../img/hero_image_dark_translucent.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 635px;
    margin: 110px 0px 52px 0px;
    position: relative;
    width: 100%;
    z-index: -1;
}

.csh-text-container {
    margin-left: 12.5%;
    width: 35%;
}

.csh-title {
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    font-family: "Futura Today Demi Bold", "Futura", "Helvetica", sans-serif;
    font-size: 86.29px;
    line-height: 100px;
    padding-top: 340px;
}

.csh-tagline {
    color: rgb(2,184,253);
    color: rgba(2,184,253, 1.0);
    font-family: "Futura Today Light", "Futura", "Helvetica", sans-serif;
    font-size: 27.52px;
    line-height: 10.37px;
    margin-top: -50px;
}

/* pbss = publication selection section */

#pbss-publication-selection-section {
    height: 320px;
    position: relative;
    z-index: 1;
}

#pbss-usa-today-button {
    background-color: rgb(0,154,255);
    background-color: rgba(0,154,255, 1.0);
    border-radius: 5px;
    border-style: none;
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
    font-size: 21px;
    margin: 0px 30% 32px 30%;
    padding: 25px 0px 25px 0px;
    position: relative;
    text-align: center;
    text-align: center;
    text-decoration: none;
    text-decoration: none;
    width: 40%;
    z-index: 3;
}

#pbss-usa-today-button.active,  
#pbss-usa-today-button:hover {
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    opacity: 0.8;
    transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
}

.mh-logo-link-button {
    text-decoration: none;
}

#pbss-today-logo-link-button {
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
    font-size: 21px;
    position: relative;
    text-decoration: none;
    z-index: 3;
}

#pbss-or-text {
    display: inline-block;
    font-family: "Helvetica", "Arial", sans-serif;
    font-size: 25px;
    margin: 0px 1.0% 45px 1.0%;
    text-align: center;
}

.pbss-hairline-left {
    border: 1px solid rgb(204,204,204);
    border: 1px solid rgba(204,204,204), 1.0;
    display: inline-block;
    margin-left: 31.5%;
    width: 16%;
}

.pbss-hairline-right {
    border: 1px solid rgb(204,204,204);
    border: 1px solid rgba(204,204,204, 1.0);
    display: inline-block;
    margin-right: 29.5%;
    width: 16%;
}

.pbss-state-heading {
    color: rgb(13,13,13);
    color: rgba(13,13,13, 1.0);
    font-size: 30px;
    margin: -10px 0px 52px 0px;
    text-align: center;
}

/* mcas = main content accordion section */

#mcas-state-menu{
    height: 2800px;
    margin-top: 0px;
}

.mcas-unordered-list {
    list-style: none;
}

.mcas-accordion {
    -moz-transition: 0.4s ease-in-out;
    -ms-transition: 0.4s ease-in-out;
    -o-transition: 0.4s ease-in-out;
    -webkit-transition: 0.4s ease-in-out;
    background-color: rgb(238,238,238);
    background-color: rgba(238,238,238, 1.0);
    border: none;
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    cursor: pointer;
    font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
    font-size: 21.88px;
    line-height: auto;
    margin: 1px 10% 0px 10%;
    outline: none;
    padding: 27px 0px 27px 40px;
    text-align: left;
    transition: 0.4s ease-in-out;
    transition: 0.4s ease-in-out;
    width: 80%;
}

.mcas-accordion.active, 
.mcas-accordion:hover {
    background-color: rgb(0,154,255);
    background-color: rgba(0,154,255, 1.0);
}

.mcas-accordion:after {
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    content: url(../img/down-arrow.png); 
    float: right;
    font-size: 10px;
    padding: 0px 40px 5px 0px;
    transform: translateY(45%);
}

.mcas-accordion.active:after {
    content: url(../img/up.png); 
}

.mcas-accordion:hover { 
    transform: scale(1.005);
}

.mcas-accordion.alabama {
    background-color: rgb(0,16,40);
    background-color: rgba(0,16,40, 1.0);
}

.mcas-accordion.arizona {
    background-color: rgb(0,29,53);
    background-color: rgba(0,29,53, 1.0);
}

.mcas-accordion.arkansas {
    background-color: rgb(0,40,64);
    background-color: rgba(0,40,64, 1.0);
}

.mcas-accordion.california {
    background-color: rgb(0,48,74);
    background-color: rgba(0,48,74, 1.0);
}

.mcas-accordion.colorado {
    background-color: rgb(0,56,83);
    background-color: rgba(0,56,83, 1.0);
}

.mcas-accordion.delaware {
    background-color: rgb(0,63,92);
    background-color: rgba(0,63,92, 1.0);
}

.mcas-accordion.florida {
    background-color: rgb(0,70,100);
    background-color: rgba(0,70,100, 1.0);
}

.mcas-accordion.guam {
    background-color: rgb(0,70,100);
    background-color: rgba(0,70,100, 1.0);
}

.mcas-accordion.indiana {
    background-color: rgb(0,83,116);
    background-color: rgba(0,83,116, 1.0);
}

.mcas-accordion.iowa {
    background-color: rgb(0,89,124);
    background-color: rgba(0,89,124, 1.0);
}

.mcas-accordion.kentucky {
    background-color: rgb(0,95,132);
    background-color: rgba(0,95,132, 1.0);
}

.mcas-accordion.louisiana {
    background-color: rgb(1,101,140);
    background-color: rgba(1,101,140, 1.0);
}

.mcas-accordion.maryland {
    background-color: rgb(4,107,149);
    background-color: rgba(4,107,149, 1.0);
}

.mcas-accordion.michigan {
    background-color: rgb(7,114,157);
    background-color: rgba(7,114,157, 1.0);
}

.mcas-accordion.minnesota {
    background-color: rgb(7,114,157);
    background-color: rgba(7,114,157, 1.0);
}

.mcas-accordion.mississippi {
    background-color: rgb(11,126,173);
    background-color: rgba(11,126,173, 1.0);
}

.mcas-accordion.missouri {
    background-color: rgb(11,126,173);
    background-color: rgba(11,126,173, 1.0);
}

.mcas-accordion.montana {
    background-color: rgb(12,137,188);
    background-color: rgba(12,137,188, 1.0);
}

.mcas-accordion.nevada {
    background-color: rgb(11,143,196);
    background-color: rgba(11,143,196, 1.0);
}

.mcas-accordion.newjersey {
    background-color: rgb(9,150,206);
    background-color: rgba(9,150,206, 1.0);
}

.mcas-accordion.newmexico {
    background-color: rgb(14,155,209);
    background-color: rgba(14,155,209, 1.0);
}

.mcas-accordion.newyork {
    background-color: rgb(26,160,212);
    background-color: rgba(26,160,212, 1.0);
}

.mcas-accordion.northcarolina {
    background-color: rgb(39,166,214);
    background-color: rgba(39,166,214, 1.0);
}

.mcas-accordion.ohio {
    background-color: rgb(52,171,217);
    background-color: rgba(52,171,217, 1.0);
}

.mcas-accordion.oregon {
    background-color: rgb(65,176,219);
    background-color: rgba(65,176,219, 1.0);
}

.mcas-accordion.pennsylvania {
    background-color: rgb(77,181,221);
    background-color: rgba(77,181,221, 1.0);
}

.mcas-accordion.southcarolina {
    background-color: rgb(90,187,224);
    background-color: rgba(90,187,224, 1.0);
}

.mcas-accordion.southdakota {
    background-color: rgb(103,192,226);
    background-color: rgba(103,192,226, 1.0);
}

.mcas-accordion.tennessee {
    background-color: rgb(116,197,229);
    background-color: rgba(116,197,229, 1.0);
}

.mcas-accordion.texas {
    background-color: rgb(128,202,231);
    background-color: rgba(128,202,231, 1.0);
}

.mcas-accordion.utah {
    background-color: rgb(135,206,232);
    background-color: rgba(135,206,232, 1.0);
}

.mcas-accordion.vermont {
    background-color: rgb(140,208,233);
    background-color: rgba(140,208,233, 1.0);
}

.mcas-accordion.virginia {
    background-color: rgb(145,210,234);
    background-color: rgba(145,210,234, 1.0);
}

.mcas-accordion.wisconsin {
    background-color: rgb(150,212,235);
    background-color: rgba(150,212,235, 1.0);
}

.mcas-panel {
    background-color: white;
    color: rgb(0,150,255);
    color: rgba(0,150,255, 1.0);
    display: none;
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 18.96px;
    line-height: 51.77px;
    margin-left: 7%;
    padding: 29px 0px 29px 40px;
    text-decoration: none;
}

.mcas-url {
    color: rgb(0,150,255);
    color: rgba(0,150,255, 1.0);
    font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
    font-size: 18.96px;
    height: 50px;
    margin: 26px 0px;
    text-decoration: none;
}

.mcas-panel.show {
    display: block;
}

.mcas-panel.show {
    max-height: 800px; 
    opacity: 1;
}

/* fs = footer section */

.fs-mns-footer {
    background-color: rgb(37,37,37);
    background-color: rgba(37,37,37, 1.0);
    bottom: 0;
    height: 234px;
    left: 0;
    margin-top: 200px;
    width: 100%;
}

.fs-footer-logos-image {
    margin: 42px 37.5% 0px 37.5%;
    width: 25%;
}

.fs-copyright {
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    font-family: "Helvetica", Arial, sans-serif;
    margin-top: 30px;
    text-align:center;
}

.mcas-white-space {
    height: 100px;
}

@media only screen and (min-width: 1920px) {

    #mh-main-header {
        height: 115px;
        width: 100%;
    }

    .mh-usa-today-logo {
        max-width: 400px;
    }

    .mh-service-logo-image-not-container{
        max-width: 300px;
    }

    .csh-hero-section {
        background-position: 50% 30%;
        height: 735px;
        width: 100%;
    }

    .csh-text-container {
        margin-left: 19%;
        max-width: 35%;
    }


    .csh-title {
        font-size: 86.29px;
        line-height: 100px;
        padding-top: 400px;
    }

    .csh-tagline {
        font-size: 27.52px;
        line-height: 10.37px;
        margin-top: -50px;
    }

    #pbss-publication-selection-section {
        height: 320px;
        position: relative;
        z-index: 1;
    }

    #pbss-usa-today-button {
        margin: 0px 37.5% 20px 37.5%;
        max-width: 25%;
    }

    #pbss-or-text {
        display: inline-block;
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 25px;
        margin: 0px 1.0% 45px 1.0%;
        text-align: center;
    }

    .pbss-hairline-left {
        margin-left: 36%;
        width: 12%;
    }

    .pbss-hairline-right {
        margin-right: 34%;
        width: 12%;
    }

    .pbss-state-heading {
        font-size: 30px;
    }

    #mcas-state-menu{
        height: 2800px;
        margin-top: 0px;
    }

    .mcas-unordered-list {
        list-style: none;
    }

    .mcas-accordion {
        font-size: 21.88px;
        margin: 0px 10% 0px 10%;
        width: 80%;
    }


    .mcas-panel {
        font-size: 18.96px;
        line-height: 51.77px;
        margin-left: 12%;
    }

    .mcas-panel.show {
        max-height: 800px; 
    }


    .fs-mns-footer {
        height: 234px;
        width: 100%;
    }

    .fs-footer-logos-image {
        margin: 42px 45% 0px 45%;
        max-width: 10%;
    }

    .fs-copyright {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        font-size: 17px;
        margin-top: 30px;
        text-align:center;
    }

}


@media only screen and (min-width: 1440px) {

    .mcas-main-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    .mh-main-header-wrap {
        margin: 0px 10% 0px 10%;
        max-width: 80%;
    }

}

@media only screen and (max-width: 1440px) {

    .csh-text-container {
        margin-left: 12.5%;
        width: 42%;
    }

}

@media only screen and (max-width: 1189px) {

    .csh-text-container {
        width: 43%;
    }

}

@media only screen and (max-width: 1180px) {

    .csh-hero-section {
        width: 100%;
        margin-top: 150px;
    }

    #mh-main-header {
        height: 160px;
        width: 100%;
    }

    .mh-service-logo-image-not-container{
        float: left;
        margin: -20px 0px 20px 18%;
    }

    .fs-copyright {
        font-size: 14px;
        margin-top: 30px;
        text-align:center;
    }

    .csh-text-container {
        margin-left: 12.5%;
        width: 54%;
    }

    .csh-title {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        font-size: 86.29px;
        line-height: 78px;
        padding-top: 360px;
    }

    .csh-tagline {
        color: rgb(2,184,253);
        color: rgba(2,184,253, 1.0);
        font-size: 29.52px;
        line-height: 39.37px;
        margin-top: -40px;
    }

    .mcas-panel {
        margin-left: 6%;
    }

}

@media only screen and (max-width: 944px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
    }

    .csh-hero-section {
        width: 100%;
    }

    .csh-text-container {
        margin-left: 12.5%;
        width: 63%;
    }

}

@media only screen and (max-width: 800px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
    }

    .fs-footer-logos-image {
        margin: 42px 30% 0px 30%;
        width: 40%;
    }

    .fs-copyright {
        margin-top: 30px;
        text-align:center;
    }

    .csh-hero-section {
        background: url(../img/hero_image_dark_translucent.jpg);
        background-position: 50% 110%;
        background-size: 1000px auto;
        height: 550px;
        margin-bottom: 52px;
        margin-top: -20px;
        width: 100%;
    }

    .csh-text-container {
        margin-left: 12.5%;
        width: 60%;
    }

    .csh-title {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        font-size: 70.29px;
        line-height: 60px;
        padding-top: 360px;
    }

    .csh-tagline {
        color: rgb(2,184,253);
        font-size: 20.52px;
        line-height: 30.37px;
        margin-top: -40px;
    }

    #pbss-usa-today-button {
        background-color: rgb(0,154,255);
        background-color: rgba(0,154,255, 1.0);
        border-radius: 5px;
        border-style: none;
        margin-bottom: 27px;
        margin-left: 10%;
        margin-right: 10%;
        padding: 25px 0px 25px 0px;
        position: relative;
        text-align: center;
        text-align: center;
        width: 80%;
        z-index: 2;
    }

    #pbss-or-text {
        display: inline-block;
        font-family: "Helvetica", "Arial", sans-serif;
        font-size: 25px;
        margin: 0px 1.0% 45px 1.0%;
        text-align: center;
    }

    #mcas-state-menu{
        margin-bottom: 60px;
        margin-top: -20px;
    }

    .pbss-hairline-left {
        border: 1px solid rgb(204,204,204);
        border: 1px solid rgba(204,204,204, 1.0);
        display: inline-block;
        margin-left: 21.5%;
        width: 25%;
    }

    .pbss-hairline-right {
        border: 1px solid rgb(204,204,204);
        border: 1px solid rgba(204,204,204, 1.0);
        display: inline-block;
        margin-right: 19.5%;
        width: 25%;
    }

    .mcas-accordion {
        height: 60px;
        padding-bottom: -40px;
        padding-left: 10px;
        padding-left: 5%;
        padding-top: 15px;
    }

    .mcas-accordion:after {
        transform: translateY(50%);
    }

}


@media only screen and (max-width: 700px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        height: 220px;
        width: 100%;
    }

    .mh-usa-today-logo {
        content: url(../img/usa-today-mobile-logo.png);
        margin: 20px 13.1% 20px 13.1%;
        max-width: 73.8%;
    }

    .mh-my-newspaper-service-logo {
        float: right;
        left: -21%;
        margin: 20px 11% 0px 0px;
        position: relative;
        right: 50%; 
        text-align: left;
    }

    .csh-hero-section {
        background: url(../img/hero_img_mobile.png);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 440px;
        margin-bottom: 40px;
        margin-top: -80px;
        position: relative;
        width: 100%;
        z-index: -1;
    }

    .csh-title {
        font-size: 47.83px;
        line-height: 60px;
        padding-top: 300px;
    }

    .csh-tagline {
        font-size: 26.52px;
        line-height: 30.37px;
        margin-top: -40px;
        padding-left: 3.5%;
    }

    .csh-text-container {
        margin-left: 15%;
        margin-right: 11%;
        margin-top: 300px;
        width: 73%;
    }

    #pbss-publication-selection-section {
        height: 280px;
        position: relative;
        z-index: 1;
    }

    #pbss-usa-today-button {
        background-color: rgb(0,154,255);
        background-color: rgba(0,154,255, 1.0);
        border-radius: 5px;
        border-style: none;
        margin-bottom: 27px;
        margin-left: 5%;
        margin-right: 5%;
        padding: 25px 0px 25px 0px;
        position: relative;
        text-align: center;
        text-align: center;
        width: 90%;
        z-index: 2;
    }

    #mcas-state-menu{
        height: 3800px;
        margin-top: 22px;
    }

    .mcas-accordion {
        font-size: 30px;
        cursor: pointer;
        padding: 29px 0px 29px 40px;
        height: 100px;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2px;
        position: relative;
    }

    .mcas-accordion:after {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        content: url(../img/larger_down_arrow.png); 
        float: right;
        font-size: 5px;
        margin-bottom: 0%;
        margin-right: -10px;
        transform: translateY(-15%) scale(0.4);
       
    }

    .mcas-accordion.active:after {
        content: url(../img/larger_up_arrow.png); 
    }

    .mcas-panel {
        background-color: white;
        color: rgb(0,150,255);
        color: rgba(0,150,255, 1.0);
        display: none;
        font-family: "Helvetica Neue Light", "Helvetica", Arial, sans-serif;
        font-size: 26px;
        line-height: 51.77px;
        line-height: 70px;
        margin: -25px -6% -25px -6%;
        text-decoration: none;
    }

    .mcas-url {
        color: rgb(0,150,255);
        color: rgba(0,150,255, 1.0);
        font-size: 26px;     
        text-decoration: none;
    }

    .mcas-panel.show {
        display: block;
    }

    .mcas-panel.show {
        opacity: 1;
        max-height: 800px; 
    }

    .fs-mns-footer {
        background-color: rgb(37,37,37);
        background-color: rgba(37,37,37, 1.0);
        bottom: 0;
        height: 264px;
        left: 0;
        margin-top: 110px;
        width: 100%;
    }

    .fs-footer-logos-image {
        margin: 70px 30% 0px 30%;
        width: 40%;
    }

    .fs-copyright {
        font-size: 17.09px;
        margin-top: 30px;
        text-align:center;
    }

}

@media only screen and (max-width: 650px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
    }

    .csh-hero-section {
        width: 100%;
    }

    .mh-my-newspaper-service-logo {
        left: -20%;
    }

    .csh-title {
        font-size: 42.83px;
        line-height: 60px;
        padding-top: 300px;
        text-align: center;
    }

    .csh-tagline {
        font-size: 24.52px;
        line-height: 30.37px;
        margin-left: -3.5%;
        margin-top: -40px;
        text-align: center;
    }

    .csh-text-container {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 300px;
        width: 100%;
    }

    #mcas-state-menu{
        margin-top: 0px;
    }

    .mcas-panel {
        margin: -25px -10% -25px -10%;
    }

    .publication-list-item a {
        color: rgb(0,150,255);
        color: rgba(0,150,255, 1.0);
        font-size: 19px;     
        text-decoration: none;
    }

    .fs-footer-logos-image {
        margin: 40px 30% 0px 30%;
        width: 40%;
    }

    .fs-mns-footer {
        height: 240px;
    }

}

@media only screen and (max-width: 520px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
    }

    .csh-hero-section {
        width: 100%;
    }

    .mh-usa-today-logo {
        margin: 35px 13.1% 20px 13.1%;
    }

    .mh-my-newspaper-service-logo {
        left: -18%;
        margin: 15px 11% 0px 0px;
    }

    .mcas-accordion {
        font-size: 20px;
        height: 60px;
        margin-top: 1px;
        padding-top: 15px;
    }

    #mcas-state-menu {
        height: 2400px;
    }

    .mcas-accordion:after {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        float: right;
        font-size: 5px;
        margin-bottom: 0%;
        margin-right: -10px;
        transform: translateY(-25%) scale(0.3);
    }

    .pbss-hairline-left {
        border: 1px solid rgb(204,204,204);
        border: 1px solid rgba(204,204,204, 1.0);
        display: inline-block;
        margin-left: 19.5%;
        width: 25%;
    }

    .pbss-hairline-right {
        border: 1px solid rgb(204,204,204);
        border: 1px solid rgba(204,204,204, 1.0);
        display: inline-block;
        margin-right: 17.5%;
        width: 25%;
    }

    .fs-footer-logos-image {
        margin: 60px 20% 0px 20%;
        width: 60%;
    }

    .fs-copyright {
        font-size: 14px;
        margin-top: 30px;
        text-align:center;
    }


}

@media only screen and (max-width: 490px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
    }

    .csh-hero-section {
        height: 370px;
        width: 100%;
    }

    .mh-my-newspaper-service-logo {
        left: -16%;
        margin: 15px 11% 0px 0px;
    }

    .csh-title {
        font-size: 37.83px;
        line-height: 65px;
        padding-top: 260px;
        text-align: center;
    }

    .csh-tagline {
        font-size: 21.52px;
        line-height: 35.37px;
        margin-left: -4%;
        margin-top: -40px;
        text-align: center;
    }

}

@media only screen and (max-width: 427px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
    }

    .csh-hero-section {
        width: 100%;
        height: 370px;
    }

    .mh-usa-today-logo {
        margin: 50px 10% 20px 10%;
        max-width: 80%;
    }

    .mh-my-newspaper-service-logo {
        left: -13%;
        margin: 15px 11% 0px 0px;
    }

    .csh-title {
        font-size: 35.83px;
        line-height: 55px;
        padding-top: 260px;
        text-align: center;
    }

    .csh-tagline {
        font-size: 21.52px;
        line-height: 30.37px;
        margin-left: -3%;
        margin-top: -40px;
        text-align: center;
    }

    .csh-text-container {
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 300px;
        width: 100%;
    }

}

@media only screen and (max-width: 390px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        height: 150px;
        width: 100%;
    }


    .csh-hero-section {
        height: 370px;
        margin-top: -150px;
        width: 100%;
    }

    .mh-usa-today-logo {
        margin: 20px 12.5% 20px 12.5%;
        max-width: 75%;
    }

    .mh-my-newspaper-service-logo {
        left: -9%;
        margin: 15px 11% 0px 0px;
    }

    .mh-service-logo-image-not-container{
        width: 90%;
    }

    .csh-title {
        font-size: 33.83px;
        line-height: 55px;
        padding-top: 260px;
        text-align: center;
    }

    .csh-tagline {
        font-size: 17.52px;
        line-height: 30.37px;
        margin-left: -3%;
        margin-top: -40px;
        text-align: center;
    }

    .pbss-state-heading {
        color: rgb(13,13,13);
        color: rgba(13,13,13, 1.0);
        font-size: 30px;
        margin-bottom: 32px;
        margin-top: -20px;
        text-align: center;
    }

    #mcas-state-menu{
        margin-top: -20px;
    }

    .mcas-accordion {
        font-size: 18px;
        height: 59px;
        padding-bottom: 15px;
        padding-left: 5.5%;
        padding-top: 15px;
    }

    .mcas-accordion:after {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        content: url(../img/larger_down_arrow.png); 
        float: right;
        font-size: 5px;
        margin-bottom: 0%;
        margin-right: -40px;
        transform: translateY(-30%) scale(0.25);
       
    }

    .mcas-accordion.active:after {
        content: url(../img/larger_up_arrow.png); 
    }

}

@media only screen and (max-width: 350px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        height: 150px;
        width: 100%;
    }

    .csh-hero-section {
        height: 370px;
        margin-top: -150px;
        width: 100%;
    }

    .mh-usa-today-logo {
        margin: 10px 12.5% 20px 12.5%;
        max-width: 75%;
    }

    .csh-title {
        font-size: 30.33px;
        line-height: 55px;
        padding-top: 260px;
        text-align: center;
    }

    .csh-tagline {
        font-size: 15.52px;
        line-height: 35.37px;
        margin-left: -3%;
        margin-top: -40px;
        text-align: center;
    }

    .pbss-hairline-left {
        border: 1px solid rgb(204,204,204);
        border: 1px solid rgba(204,204,204, 1.0);
        display: inline-block;
        margin-left: 25.5%;
        width: 18%;
    }

    .pbss-hairline-right {
        border: 1px solid rgb(204,204,204);
        border: 1px solid rgba(204,204,204, 1.0);
        display: inline-block;
        margin-right: 22.5%;
        width: 18%;
    }

    .fs-mns-footer {
        background-color: rgb(37,37,37);
        background-color: rgba(37,37,37, 1.0);
        bottom: 0;
        font-size: 17px;
        height: 250px;
        left: 0;
        margin-top: 65px;
        width: 100%;
    }

    .fs-copyright {
       color: rgb(255,255,255);
       font-size: 13px;
       margin-top: 30px;
       text-align:center;
    }

}

@media only screen and (max-width: 330px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
        height: 150px;
    }

    .csh-hero-section {
        height: 370px;
        margin-top: -150px;
        width: 100%;
    }

    .mh-my-newspaper-service-logo {
        left: -6%;
        margin: 15px 11% 0px 0px;
    }

    .mh-service-logo-image-not-container{
        width: 85%;
    }

    .csh-title {
        font-size: 27.83px;
        line-height: 60px;
        padding-top: 260px;
        text-align: center;
    }

    .csh-tagline {
        font-size: 15.52px;
        line-height: 30.37px;
        margin-left: -3%;
        margin-top: -40px;
        text-align: center;
    }

    .mcas-accordion {
        font-size: 16px;
    }
    
}

@media only screen and (max-width: 300px) {

    .mcas-accordion:hover { 
        transform: scale(1.0);
    }

    #mh-main-header {
        width: 100%;
    }

    .csh-hero-section {
        height: 370px;
        width: 100%;
    }

    .mh-usa-today-logo {
        margin: 40px 5% 20px 5%;
        max-width: 90%;
    }

    .mh-my-newspaper-service-logo {
        left: -6%;
        margin: 15px 11% 0px 0px;
    }

    .mh-service-logo-image-not-container{
        width: 85%;
    }

    .csh-title {
        font-size: 22.83px;
        line-height: 60px;
        padding-top: 260px;
        text-align: center;
    }

    .csh-tagline {
        font-size: 13.52px;
        line-height: 30.37px;
        margin-left: -3%;
        margin-top: -40px;
        text-align: center;
    }

    #pbss-usa-today-button {
        padding: 15px 0px;
    }

}



