@font-face {
    font-family: 'Futura Today';
    src: url(../fonts/futura_today_normal.eot);
    src: url(../fonts/futura_today_normal.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_normal.woff) format("woff"),
         url(../fonts/futura_today_normal.ttf) format("truetype"),
         url(../fonts/futura_today_normal.svg#Futura_Today) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura Today Bold';
    src: url(../fonts/futura_today_bold.eot);
    src: url(../fonts/futura_today_bold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_bold.woff) format("woff"),
         url(../fonts/futura_today_bold.ttf) format("truetype"),
         url(../fonts/futura_today_bold.svg#Futura_Today_Bold) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura Today Demi Bold';
    src: url(../fonts/futura_today_demibold.eot);
    src: url(../fonts/futura_today_demibold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_demibold.woff) format("woff"),
         url(../fonts/futura_today_demibold.ttf) format("truetype"),
         url(../fonts/futura_today_demibold.svg#Futura_Today) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura Today Light';
    src: url(../fonts/futura_today_light.eot);
    src: url(../fonts/futura_today_light.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_light.woff) format("woff"),
         url(../fonts/futura_today_light.ttf) format("truetype"),
         url(../fonts/futura_today_light.svg#Futura_Today_Light) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(../fonts/helveticaneue-light-webfont.eot);
    src: url(../fonts/helveticaneue-light-webfont.eot?#iefix) format("embedded-opentype"),
         url(../fonts/helveticaneue-light-webfont.woff) format("woff"),
         url(../fonts/helveticaneue-light-webfont.ttf) format("truetype"),
         url(../fonts/helveticaneue-light-webfont.svg#Futura_Today_Light) format("svg");
    font-style: normal;
    font-weight: 400;
}

/* pb = publication body */

.pb-publication-body {
    background: rgb(255,255,255);
    color: rgb(79,79,79);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    background: rgba(255,255,255, 1.0);
    box-sizing: border-box;
    color: rgba(79,79,79, 1.0);
    margin: 0px;
    padding: 0px;
}

/* mh = main header */

#mh-main-header {
    background-color: rgb(0,0,0);
    height: 115px;
    margin-bottom: 10px;
    position:absolute;
    width: 100%;
    background-color: rgba(0,0,0, 1.0);
    left:0;
    margin: 0px;
    top:0;
}

.mh-usa-today-logo {
    content: url(../img/usa-today-desktop-logo.png);
    display: inline-block;
    margin: 25px 0px 20px 11%;
    max-width: 400px;
}

.mh-mns-image {
    display: inline-block;
    float: right;
    margin: -60px 11% 0px 0px;
    max-width: 300px;
}

/* sh = second header */

.sh-second-header {
    height: 150px;
    margin-top: 105px;
    width: 100%;
}

.sh-actual-pub-logo {
    margin: 32px 37.5% 0px 37.5%;
    width: 25%;
}

#sh-back-arrow {
    margin-left: 5%; 
    transform: translateY(-40%);
    visibility: visible; 
}

.sh-heading {
    color: rgb(50,50,50);
    font-family: 'Futura Today Light', "Futura Today", "Futura", "Helvetica", sans-serif;
    font-size: 50.8px;
    margin-top: -50px;
    color: rgba(50,50,50, 1.0);
    letter-spacing: auto;
    opacity: 0.9;
    text-align:center;
}

/* mcis = main content info section */

.mcis-hairline {
    border-top: 1px solid rgb(204,204,204);
    height: 100%;
    margin: 50px 0px 0px;
    width: 100%;
    border-top: 1px solid rgba(204,204,204, 1.0);
}

.mcis-service-info {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 42px;
}

.mcis-info-text-heading {
    color: rgb(50,50,50);
    display: inline-block;
    font-family: "Futura Today Demi Bold", "Futura Today", "Futura", "Helvetica", sans-serif;
    font-size: 15.51px;
    margin-right: 50px;
    width: 165px;
    color: rgba(50,50,50, 1.0);
}

.mcis-info-text-specifics {
    color: rgb(50,50,50);
    display: inline-block;
    font-family: "Futura Today", "Futura", "Helvetica", sans-serif;
    font-size: 15.51px;
    color: rgba(50,50,50, 1.0);
}

.mcis-info-text-specifics a {
    color: rgb(0,154,255);
    text-decoration: none;
    color: rgba(0,154,255, 1.0);
}

/* pbm = publication menu */

.pbm-publication-button-menu {
	   margin-top: 42px;
}

.pbm-menu-item {
    background-color: rgb(0,154,255);
    background-color: rgba(0,154,255, 1.0);
    border: none;
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    cursor: pointer;
    font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
    font-size: 21.88px;
    height:73px;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1px;
    outline: none;
    padding: 24px 0px 24px 40px;
    text-align: left;
    transition: 0.4s;
    width: 80%;
}

.pbm-menu-item:after {
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    content: url(../img/right-arrow.png); 
    float: right;
    font-size: 13px;
    padding: 5px 40px 5px 0px;
    transform: translateY(-10%);
}

.pbm-menu-item.active, 
.pbm-menu-item:hover {
  	opacity: 0.8;
    transform: scale(1.005);
}

/* fb = footer bottom (very creative I know) */

#fb-footer {
    background-color: rgb(37,37,37);
    background-color: rgba(37,37,37, 1.0);
    bottom: 0;
    font-size: 17px;
    height: 234px;
    left: 0;
    margin-top: 65px;
    width: 100%;
}

.fb-image-logos {
    margin: 42px 37.5% 0px 37.5%;
    width: 25%;
}

.fb-copyright {
    color: rgb(255,255,255);
    color: rgba(255,255,255, 1.0);
    font-size: 17px;
    margin-top: 30px;
    text-align:center;
}

@media only screen and (min-width: 1440px) {

    .mcis-main-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1000px;
    }

    .mh-main-header-wrap {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }

}

@media only screen and (min-width: 3300px) {

    #sh-back-arrow {
        margin-left: 5%; 
        transform: translateY(30%);
        visibility: visible; 
    }

    .mcis-hairline {
        transform: translateY(1000%); 
    }

    .mcis-service-info {
        padding-top: 0px;
    }

    .sh-publication {
        margin: 45px 40% 0px 40%;
        max-width: 20%;
        padding-left: 2.5%;
        transform: translateX(4%);
    }

    .sh-actual-pub-logo {
        height: auto;
        margin-top: 40px;
        max-height: 100px;
        max-width: 300px;
        text-align: center;
        transform: translateX(10%);
        width: auto;
    }

}

@media only screen and (min-width: 3000px) {

    #sh-back-arrow {
        margin-left: 5%; 
        transform: translateY(30%);
        visibility: visible; 
    }

   .mcis-hairline {
        transform: translateY(1000%);
    }

    .mcis-service-info {
        padding-top: -30px;
    }

    .sh-publication {
        margin: 45px 40% 0px 40%;
        max-width: 20%;
        padding-left: 0.5%;
        transform: translateX(2%);
    }

    .sh-actual-pub-logo {
        height: auto;
        margin-top: 40px;
        max-height: 100px;
        max-width: 300px;
        text-align: center;
        transform: translateX(10%);
        width: auto;
    }

}

@media only screen and (min-width: 2700px) {

    .sh-publication {
        margin: 45px 40% 0px 40%;
        max-width: 20%;
        padding-left: 0.5%;
    }

    .sh-actual-pub-logo {
        height: auto;
        margin-top: 40px;
        max-height: 100px;
        max-width: 300px;
        text-align: center;
        transform: translateX(15%);
        width: auto;
    }

    .sh-heading {
        font-size: 40.8px;
    }

}

@media only screen and (min-width: 2500px) {

    .sh-publication {
        margin: 45px 40% 0px 40%;
        max-width: 20%;
    }

    .sh-actual-pub-logo {
        height: auto;
        margin-top: 40px;
        max-height: 100px;
        max-width: 300px;
        text-align: center;
        transform: translateX(17%);
        width: auto;
    }

    .sh-heading {
        font-size: 40.8px;
    }

}

@media only screen and (min-width: 2300px) {

    .sh-publication {
        margin: 45px 40% 0px 40%;
        max-width: 20%;
    }

    .sh-actual-pub-logo {
        height: auto;
        margin-top: 40px;
        max-height: 100px;
        max-width: 300px;
        text-align: center;
        transform: translateX(35%);
        width: auto;
    }

    .sh-heading {
        font-size: 40.8px;
    }

}

@media only screen and (min-width: 2000px) {

    .sh-publication {
        margin: 45px 40% 0px 40%;
        max-width: 20%;
    }

    .sh-actual-pub-logo {
        height: auto;
        margin-top: 40px;
        max-height: 100px;
        max-width: 300px;
        text-align: center;
        transform: translateX(35%);
        width: auto;
    }

    .sh-heading {
        font-size: 40.8px;
    }

}

@media only screen and (min-width: 1900px) {

    .mh-usa-today-logo {
        max-width: 400px;
    }

    .mh-mns-image {
        max-width: 300px;
    }

    .sh-second-header {
        height: 150px;
        width: 100%;
    }

    .sh-publication {
        margin: 45px 40% 0px 40%;
        max-width: 20%;
    }

    .sh-actual-pub-logo {
        height: auto;
        margin-top: 40px;
        max-height: 100px;
        max-width: 300px;
        text-align: center;
        transform: translateX(-30%);
        width: auto;
    }

    .sh-heading {
        font-size: 40.8px;
    }

    .mcis-hairline {
        height: 100%;
        padding-top: -20px;
        transform: translateY(-5000%);
        width: 100%;

    }

    #sh-back-arrow {
        margin-left: 5%; 
        transform: translateY(-20%);
        visibility: visible; 
    }

    .mcis-service-info {
        margin-bottom: -30px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: -50px;
    }

    .pbm-publication-button-menu {
        margin-top: 42px;
    }

    .pbm-menu-item {
        margin-left: 10%;
        margin-right: 10%;
        max-width: 80%;
    }

    .pbm-menu-item:after {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        content: url(../img/right-arrow.png); 
        float: right;
        font-size: 13px;
        padding: 5px 40px 5px 0px;
        transform: translateY(-10%);
    }

    #fb-footer {
        height: 234px;
        width: 100%;
    }

    .fb-image-logos {
        margin: 42px 45% 0px 45%;
        max-width: 10%;
    }

    .fb-copyright {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        font-size: 17px;
        margin-top: 30px;
        text-align:center;
    }

    .mcis-hairline {
        margin-top: 35px;
    }

}

@media only screen and (min-width: 1600px) {

    #sh-back-arrow {
        margin-left: 5%; 
        transform: translateY(-55%);
        visibility: visible; 
    }

    .mcis-hairline {
        margin-top: 90px;
    }

}

@media only screen and (max-width: 1600px) {

    .mcis-hairline {
        margin-top: 95px;
    }

}



@media only screen and (max-width: 1460px) {

    #sh-back-arrow {
        margin-left: 5%; 
        transform: translateY(-75%);
        visibility: visible; 
    }

    .mh-mns-image {
        margin-right: 5%;
        margin-top: -52.5px;
        width: 35%;
    }

    .mcis-hairline {
        margin-top: 95px;
    }

    .sh-actual-pub-logo {
        display: inline-block;
        margin: 50px 35% 0px 35%;
        width: 30%;
    }

}

@media only screen and (max-width: 1150px) {

    .sh-actual-pub-logo {
        margin: 42px 30% 0px 30%;
        width: 40%;
    }

    .sh-heading {
        font-size: 40.46px;
        letter-spacing: auto;
    }

    .mcis-hairline {
        margin-top:25px;
    }

    .mcis-info-text-heading {
        font-size: 18px;
        margin-right: -10px;
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 18px;
    }

    .pbm-menu-item {
        background-color: rgb(0,154,255);
        background-color: rgba(0,154,255, 1.0);
        border: none;
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        cursor: pointer;
        font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
        font-size: 21.88px;
        height:73px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1px;
        outline: none;
        padding: 24px 0px 24px 40px;
        text-align: left;
        transition: 0.4s;
        width: 80%;
    }

    .pbm-menu-item:after {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        content: url(../img/right-arrow.png); 
        float: right;
        font-size: 13px;
        padding: 4px 40px 4px 0px;
        transform: translateY(-10%);
    }

    .fb-copyright {
        font-size: 17px;
        margin-top: 30px;
        text-align:center;
    }

    .mh-mns-image {
        margin-right: 5%;
        margin-top: -52.5px;
        width: 35%;
    }

    .mcis-hairline {
        margin-top: 45px;
    }

    .sh-actual-pub-logo {
        display: inline-block;
        margin: 40px 35% 0px 35%;
        width: 30%;
    }

}

@media only screen and (max-width: 1000px) {

    .mh-mns-image {
        margin-right: 5%;
        margin-top: -52.5px;
        width: 35%;
    }

    .mcis-hairline {
        margin-top: 45px;
    }

    .sh-actual-pub-logo {
        display: inline-block;
        margin: 40px 35% 0px 35%;
        width: 30%;
    }

}

@media only screen and (max-width: 950px) {

    .mh-mns-image {
        margin-right: 5%;
        margin-top: -52.5px;
        width: 35%;
    }

    .mcis-hairline {
        margin-top: 40px;
    }

    .sh-actual-pub-logo{
        display: inline-block;
        margin: 40px 35% 0px 35%;
        width: 30%;
    }

}

@media only screen and (max-width: 800px) {

    .mcis-hairline {
        margin-top: -40px;
    }

    #mh-main-header {
        background-color: rgb(0,0,0);
        background-color: rgba(0,0,0, 1.0);
        height: 75px;
        left:0;
        margin-bottom: 0px;
        margin: 0px;
        position:absolute;
        top:0;
        width: 100%;
    }

    .mh-usa-today-logo {
        display: inline-block;
        margin: 17px 0px 20px 5%;
        width: 40%;  
    }

    .sh-actual-pub-logo {
        display: inline-block;
        margin: -10px 35% 0px 35%;
        width: 30%;
    }

    #sh-back-arrow {
        margin-left: 2.5%;
        transform: translateY(-60%) scale(0.55);
        visibility: visible;
    }

    .sh-heading {
        font-size: 30.46px;
        letter-spacing: auto;
        margin-bottom: -10px;
        margin-top: -20px;
        transform: translateY(-100%) translateX(0%);
    }

    .mcis-service-info {
        margin-bottom: -65px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 5px;
    }

    .mcis-info-text-heading {
        font-size: 14px;
        line-height: 17px;
        margin-right: -10px;
        transform: translateY(0%);
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 15px;
        line-height: 16.5px;
        transform: translateY(1%);
    }

    .pbm-publication-button-menu {
        margin-top: 72px;
        margin-bottom: -50px;
    }

    .pbm-menu-item {
        background-color: rgb(0,154,255);
        background-color: rgba(0,154,255, 1.0);
        border: none;
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        cursor: pointer;
        font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
        font-size: 16.88px;
        height:53px;
        margin-left: 10%;
        margin-right: 10%;
        margin-top: 1px;
        outline: none;
        padding: 16px 0px 16px 40px;
        text-align: left;
        transition: 0.4s;
        width: 80%;
    }

    #fb-footer {
        height: 125px;
        margin-top: 80px;
    }

    .fb-image-logos {
        margin: 15px 35% 0px 35%;
        width: 30%;
    }

    .fb-copyright {
        font-size: 12px;
        margin-top: 10px;
        text-align:center;
    }

}

@media only screen and (max-width: 700px) {

    .mcis-hairline {
        margin-top: -15px;
    }

    #mh-main-header {
        height: 190px;
    }

    .sh-second-header {
        height: 135px;
        letter-spacing: auto;
        margin-bottom: 9%;
        margin-top: 160px;
        width: 100%;
    }

    .sh-actual-pub-logo {
        margin: 52px 30% 0px 30%;
        width: 40%;
    }

    .sh-heading {
        margin-bottom: 0px;
    }

    .mcis-service-info {
        margin-bottom: -50px;
        margin-left: 5%;
        margin-right: 5%;
        margin-top: 10px;
    }

    .mcis-info-text-heading {
        font-size: 20px;
        margin-right: -10px;
        transform: translateY(2%);
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 20px;
    }

    .mh-usa-today-logo {
        content: url(../img/usa-today-mobile-logo.png);
        margin: 20px 0px 20px 20%;
        width: 100%;
    }

    .mh-mns-image {
        float: right;
        left: -21%;
        margin: -5px 11% 0px 0px;
        position: relative;
        right: 50%; 
        text-align: left;
    }

}

@media only screen and (max-width: 680px) {

    .mcis-service-info {
        margin-bottom: -40px;
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 16px;
    }

    .mcis-info-text-heading {
        font-size: 19px;
        line-height: 24px;
        margin-right: -15px;
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 19px;
        line-height: 25px;
    }

    .pbm-menu-item {
        font-size: 25px;
        height: 100px;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 2px;
        padding: 29px 0px 29px 40px;
        width: 100%;
    }

    .sh-actual-pub-logo {
        margin: 52px 30% 0px 30%;
        width: 40%;
    }

    .sh-heading {
        font-size: 30.46px;
        letter-spacing: auto;
    }

    .mcis-hairline {
        margin-top: -25px;
    }

}

@media only screen and (max-width: 620px) {

    .sh-actual-pub-logo {
        margin: 52px 30% 0px 30%;   
        width: 40%;
    }

    .mh-usa-today-logo {
        content: url(../img/usa-today-mobile-logo.png);
        margin: 20px 13.1% 20px 13.1%;
        max-width: 73.8%;
    }

    .mh-mns-image {
        margin: -10px 11% 0px 0px;
        transform: translateX(27.5%);
        width: 80%;
    }

    .sh-actual-pub-logo {
        margin: 52px 25% 0px 25%;
        width: 50%;
    }

    .sh-heading {
        font-size: 30.46px;
        letter-spacing: auto;
    }

    .mcis-service-info {
        margin-bottom: -40px;
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 16px;
    }

    .mcis-info-text-heading {
        font-size: 17px;
        line-height: 24px;
        margin-right: -15px;
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 17px;
        line-height: 25px;
    }

    .mcis-hairline {
        margin-top: -5px;
    }

} 

@media only screen and (max-width: 520px) {

    .sh-actual-pub-logo {
        margin: 52px 25% 0px 25%;  
        width: 50%;
    }

    .sh-heading {
        font-size: 30.46px;
        letter-spacing: auto;
    }

    .mcis-hairline {
        margin-top: -5px;
    }

    .mcis-service-info {
        margin-bottom: -40px;
        margin-left: 5%;
        margin-right: 0%;
        margin-top: 15px;
    }

    .mcis-info-text-heading {
        font-size: 14px;
        line-height: 26px;
        margin-right: -68px;
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 16px;
        line-height: 24px;
    }

    .pbm-menu-item {
        font-size: 20px;
        height: 40px;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 1px;
        padding: 20px 0px 40px 5%;
        text-align: left;
        transform: translateY(2%);
        width: 100%;
    }

    .pbm-menu-item:after {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        content: url(../img/right-arrow.png); 
        float: right;
        font-size: 13px;
        padding: 5px 7% 5px 0px;
    }

    .fb-image-logos {
        margin: 60px 20% 0px 20%;
        width: 60%;
    }

    .fb-copyright {
        font-size: 14px;
        margin-top: 30px;
        text-align:center;
    }

    #fb-footer {
        height: 210px;
    }

}

@media only screen and (max-width: 450px) {

    .mcis-service-info {
        margin-bottom: -40px;
        margin-left: 1.0%;
        margin-right: 0%;
        margin-top: 15px;
    }

    .mcis-info-text-heading {
        font-size: 13px;
        line-height: 26px;
        margin-right: -88px;
        transform: translateY(-0.25%);
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 14px;
        line-height: 26px;
        margin-right: 0px;
    }

    .mcis-hairline {
        margin-top: -15px;
    }

    .mh-mns-image {
        margin: -10px 11% 0px 0px;
        transform: translateX(27.5%);
        width: 80%;
    }

}


@media only screen and (max-width: 410px) {

    .pbm-menu-item {
        font-size: 16px;
        height: 50px;
        padding-top: 15px;
    }

    .pbm-menu-item:after {
        color: rgb(255,255,255);
        color: rgba(255,255,255, 1.0);
        content: url(../img/right-arrow.png); 
        float: right;
        font-size: 13px;
        padding: 5px 7% 5px 0px;
        transform: translateY(-19%);
    }

    .mcis-service-info {
        margin-bottom: -40px;
        margin-left: 1.0%;
        margin-right: 0%;
        margin-top: 15px;
    }

    .mcis-info-text-heading {
        font-size: 13px;
        line-height: 27px;
        margin-right: -88px;
        transform: translateY(1.2%);
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 14px;
        line-height: 26px;
        margin-right: 0px;
    }

    .sh-heading {
        font-size: 25.46px;
        letter-spacing: auto;
    }

    .mcis-hairline {
        margin-top: -15px;
    }

    .mh-mns-image {
        margin: -10px 11% 0px 0px;
        transform: translateX(27.5%);
        width: 80%;
    }

} 

@media only screen and (max-width: 380px) {

    #mh-main-header {
        height: 150px;
    }

    .sh-actual-pub-logo {
        margin: 22px 25% 0px 25%;
        width: 50%;
    }

    .mcis-service-info {
        margin-bottom: -40px;
        margin-left: 1.0%;
        margin-right: 0%;
        margin-top: 15px;
    }

    .mcis-info-text-heading {
        font-size: 12px;
        line-height: 26px;
        margin-right: -88px;
        transform: translateY(-0%);
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 13px;
        line-height: 26px;
        margin-right: 0px;
    }

}

@media only screen and (max-width: 350px) {

    #mh-main-header {
        height: 150px;
    }

    .sh-actual-pub-logo {
        margin: 22px 25% 0px 25%;
        width: 50%;
    }

    .mcis-service-info {
        margin-bottom: -40px;
        margin-left: 1.0%;
        margin-right: 0%;
        margin-top: 15px;
    }

    .mcis-info-text-heading {
        font-size: 10.5px;
        line-height: 29px;
        margin-right: -105px;
        transform: translateY(1.4%);
        width: 165px;
    }

    .mcis-info-text-specifics {
        font-size: 10.5px;
        line-height: 29px;
        margin-right: 0px;
    }

    .mcis-hairline {
        margin-top: -25px;
    }

}

@media only screen and (max-width: 290px) {

    .pbm-menu-item {
        font-size: 13px;
        height: 50px;
        margin-right: 2%;
        padding-top: 15px;
    }

} 














