/* FONTS */

@font-face {
    font-family: 'Futura Today';
    src: url(../fonts/futura_today_normal.eot);
    src: url(../fonts/futura_today_normal.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_normal.woff) format("woff"),
         url(../fonts/futura_today_normal.ttf) format("truetype"),
         url(../fonts/futura_today_normal.svg#Futura_Today) format("svg");
    font-style: normal;
    font-weight: 400;
}

@font-face {
    font-family: 'Futura Today Bold';
    src: url(../fonts/futura_today_bold.eot);
    src: url(../fonts/futura_today_bold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_bold.woff) format("woff"),
         url(../fonts/futura_today_bold.ttf) format("truetype"),
         url(../fonts/futura_today_bold.svg#Futura_Today_Bold) format("svg");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Futura Today Demi Bold';
    src: url(../fonts/futura_today_demibold.eot);
    src: url(../fonts/futura_today_demibold.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_demibold.woff) format("woff"),
         url(../fonts/futura_today_demibold.ttf) format("truetype"),
         url(../fonts/futura_today_demibold.svg#Futura_Today) format("svg");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Futura Today Light';
    src: url(../fonts/futura_today_light.eot);
    src: url(../fonts/futura_today_light.eot?#iefix) format("embedded-opentype"),
         url(../fonts/futura_today_light.woff) format("woff"),
         url(../fonts/futura_today_light.ttf) format("truetype"),
         url(../fonts/futura_today_light.svg#Futura_Today_Light) format("svg");
    font-style: normal;
    font-weight: 400;
}
@font-face {
    font-family: 'Helvetica Neue Light';
    src: url(../fonts/helveticaneue-light-webfont.eot);
    src: url(../fonts/helveticaneue-light-webfont.eot?#iefix) format("embedded-opentype"),
         url(../fonts/helveticaneue-light-webfont.woff) format("woff"),
         url(../fonts/helveticaneue-light-webfont.ttf) format("truetype"),
         url(../fonts/helveticaneue-light-webfont.svg#Futura_Today_Light) format("svg");
    font-style: normal;
    font-weight: 400;
}

/* GENERAL */

.publication-body {
	background: #fff;
  margin: 0px;
  padding: 0px;
	font-family: Helvetica, Arial, sans-serif;
	font-size: 16px;
	color: #4f4f4f;
  box-sizing: border-box;
}

/* HEADER */

#main-header {
	background-color: #000;
	position:absolute;
    left:0;
    top:0;
    margin: 0px;
	height: 115px;
	width: 100%;
	margin-bottom: 10px;
}

.usa-today-logo {
    margin: 25px 0px 20px 11%;
    display: inline-block;
    max-width: 400px;
    content: url(../img/usa-today-desktop-logo.png);
    /*max-width: 35%;*/
}

.my-newspaper-service-logo img{
    display: inline-block;
    margin: -60px 11% 0px 0px;
    float: right;
    max-width: 300px;
}

.second-header {
	height: 150px;
	width: 100%;
	margin-top: 105px;
}

.publication img {
	width: 30%;
	margin: 0px 32% 0px 38%;
	margin-top: 32px
}

#back-arrow {
  visibility: visible; 
  margin-left: 5%; 
  transform: translateY(-40%);
}

.second-header div h2 {
	font-family: 'Futura Today Light', "Futura Today", "Futura", "Helvetica", sans-serif;
	font-size: 50.8px;
	color: #323232;
  opacity: 0.9;
	margin-top: -50px;
  text-align:center;
  letter-spacing: auto;
  /*letter-spacing: 1.2px;*/
}

.hairline {
	border-top: 1px solid #cccccc;
	margin: 50px 0px 0px;
	height: 100%;
	width: 100%;
}

/* MAIN */

.service-info {
	margin-left: 10%;
	margin-right: 10%;
  margin-top: 42px;
}

.info-text-heading {
	width: 165px;
	margin-right: 50px;
	display: inline-block;
	font-size: 15.51px;
	font-family: "Futura Today Dem iBold", "Futura Today", "Futura", "Helvetica", sans-serif;
	color: #323232;
}

.info-text-specifics {
	display: inline-block;
	font-size: 15s.51px;
	font-family: "Futura Today", "Futura", "Helvetica", sans-serif;
	color: #323232;
}

.info-text-specifics a {
	text-decoration: none;
	color: #009aff;
}

.publication-button-menu {
	margin-top: 42px;
}

.menu-item {
	background-color: #009aff;
  color: #fff;
  font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
  font-size: 21.88px;
  height:73px;
  cursor: pointer;
  padding: 24px 0px 24px 40px;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 1px;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

button.menu-item:after {
    content: url(../img/right-arrow.png); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    padding: 5px 40px 5px 0px;
    transform: translateY(-10%);
}

.menu-item.active, .menu-item:hover {
	opacity: 0.8;
  transform: scale(1.005);
}

/*FOOTER*/

footer {
    bottom: 0;
    left: 0;
    height: 234px;
    width: 100%;
    background-color: #252525;
    margin-top: 65px;
    font-size: 17px;
}

.footer-logos img {
  width: 25%;
  margin: 0px 37.5% 0px 37.5%;
  margin-top: 42px
}

.footer-logos p {
  margin-top: 30px;
  text-align:center;
  font-size: 17px;
  color: #fff;
}



/* MEDIA QUERIES */


@media only screen and (min-width: 1440px) {

    .main-content {
        max-width: 1000px;
        margin-left: auto;
        margin-right: auto;
    }

    .main-header-wrap {
        max-width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

}



@media only screen and (min-width: 1900px) {

  .usa-today-logo {
      max-width: 400px;
  }

  .my-newspaper-service-logo img{
      max-width: 300px;
  }

  .second-header {
    height: 150px;
    width: 100%;
  }

  .publication img {
    max-width: 25%;
    margin: 25px 37.5% 0px 37.5%;
  }

  .second-header div h2 {
    font-size: 50.8px;
  }

  .hairline {
    height: 100%;
    width: 100%;
  }

  #back-arrow {
    visibility: visible; 
    margin-left: 5%; 
    transform: translateY(-50%);
  }

  .service-info {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 0px;
    margin-bottom: -30px;
  }


  .publication-button-menu {
    margin-top: 42px;
  }

  .menu-item {
    max-width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }

  button.menu-item:after {
      content: url(../img/right-arrow.png); /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #fff;
      float: right;
      padding: 5px 40px 5px 0px;
      transform: translateY(-10%);
  }

  footer {
      height: 234px;
      width: 100%;
  }

  .footer-logos img {
    max-width: 10%;
    margin: 0px 45% 0px 45%;
    margin-top: 42px
  }

  .footer-logos p {
    margin-top: 30px;
    text-align:center;
    font-size: 17px;
    color: #fff;
  }

    .hairline {
    margin-top: 25px;
  }

}

@media only screen and (min-width: 1460px) {
  .hairline {
    margin-top: 25px;
  }

}


@media only screen and (max-width: 1460px) {

  .publication img {
    width: 35%;
    margin: 0px 32.5% 0px 32.5%;
    margin-top: 32px
  }

  .hairline {
    margin-top: 25px;
  }

}

@media only screen and (max-width: 1150px) {

  .publication img {
    width: 40%;
    margin: 0px 30% 0px 30%;
    margin-top: 32px
  }

  .second-header div h2 {
      font-size: 40.46px;
      letter-spacing: auto;
  }

  .hairline {
    margin-top: 5px;
  }

  .info-text-heading {
    width: 165px;
    margin-right: -10px;
    font-size: 18px;
  }

  .info-text-specifics {
      font-size: 18px;
  }

  .menu-item {
    background-color: #009aff;
    color: #fff;
    font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
    font-size: 21.88px;
    cursor: pointer;
    padding: 24px 0px 24px 40px;
    height:73px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  button.menu-item:after {
    content: url(../img/right-arrow.png); /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #fff;
    float: right;
    padding: 4px 40px 4px 0px;
    transform: translateY(-10%);
  }

  .footer-logos p {
    margin-top: 30px;
    font-size: 17px;
    text-align:center;
  }

}

@media only screen and (max-width: 1000px) {

  .my-newspaper-service-logo img{
    width: 35%;
    margin-right: 5%;
    margin-top: -52.5px;
  }

  .hairline {
    margin-top: -10px;
  }


}

@media only screen and (max-width: 800px) {

  .hairline {
    margin-top: -90px;
  }

  #main-header {
    background-color: #000;
    position:absolute;
    left:0;
    top:0;
    margin: 0px;
    height: 75px;
    width: 100%;
    margin-bottom: 0px;
  }

  .usa-today-logo {
    margin: 17px 0px 20px 5%;
    display: inline-block;
    width: 40%;  
  }

  .publication img {
    width: 43%;
    margin: -20px 28.5% 0px 28.5%;
    display: inline-block;
  }

  #back-arrow {
    visibility: visible;
    margin-left: 2.5%;
    transform: translateY(-60%) scale(0.55);
  }

  .second-header div h2 {
      font-size: 30.46px;
      letter-spacing: auto;
      margin-bottom: -10px;
      margin-top: -20px;
      transform: translateY(-100%) translateX(0%);
  }

  .service-info {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5px;
    margin-bottom: -65px;
  }

  .info-text-heading {
    width: 165px;
    margin-right: -10px;
    font-size: 14px;
    line-height: 17px;
    transform: translateY(-2%);
  }

  .info-text-specifics {
      font-size: 15px;
      line-height: 16.5px;
      transform: translateY(1%);
  }

  .publication-button-menu {
    margin-top: 72px;
    margin-bottom: -50px;
  }

  .menu-item {
    background-color: #009aff;
    color: #fff;
    font-family: "Helvetica Bold", "Helvetica", "Arial", sans-serif;
    font-size: 16.88px;
    cursor: pointer;
    padding: 16px 0px 16px 40px;
    height:53px;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1px;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  footer {
    height: 125px;
    margin-top: 80px;
  }

  .footer-logos img {
    width: 30%;
    margin: 0px 35% 0px 35%;
    margin-top: 15px
  }

  .footer-logos p {
    font-size: 12px;
    margin-top: 10px;
    text-align:center;
  }

}

@media only screen and (max-width: 700px) {

    .hairline {
      margin-top: 40px;
    }

    #main-header {
        height: 190px;
    }

    .second-header {
      height: 135px;
      width: 100%;
      margin-top: 190px;
      letter-spacing: auto;
    }

     .publication img {
        width: 50%;
        margin: 52px 25% 0px 25%;
    }

    .second-header div h2 {
        margin-bottom: 0px;
    }

    .service-info {
      margin-left: 5%;
      margin-right: 5%;
      margin-top: 10px;
      margin-bottom: -50px;
    }

    .info-text-heading {
      width: 165px;
      margin-right: -10px;
      font-size: 20px;
    }

    .info-text-specifics {
      font-size: 20px;
    }


    .usa-today-logo {
        margin: 20px 0px 20px 20%;
        width: 100%;
        content: url(../img/usa-today-mobile-logo.png);
    }

    .my-newspaper-service-logo {
        float: none;
        margin: 75px 20% 0px -20%;
        transform: scale(1.7) translateX(-15%);
        text-align: left;
    }
}

@media only screen and (max-width: 680px) {

    .service-info {
      margin-left: 5%;
      margin-right: 0%;
      margin-top: 16px;
      margin-bottom: -40px;
    }

    .info-text-heading {
      width: 165px;
      margin-right: -15px;
      font-size: 19px;
      line-height: 27px;
    }

    .info-text-specifics {
      font-size: 19px;
      line-height: 25px;
    }

  .menu-item {
    font-size: 25px;
      padding: 29px 0px 29px 40px;
      height: 100px;
      width: 100%;
      margin-left: 0%;
      margin-right: 0%;
      margin-top: 2px;
  }

  .publication img {
      width: 60%;
      margin: 52px 20% 0px 20%;
        
  }

  .second-header div h2 {
      font-size: 30.46px;
      letter-spacing: auto;
  }


}

@media only screen and (max-width: 620px) {


  .usa-today-logo {
        margin: 20px 13.1% 20px 13.1%;
        max-width: 73.8%;
        content: url(../img/usa-today-mobile-logo.png);
    }

    .my-newspaper-service-logo {
        float: none;
        margin: 75px 20% 0px -20%;
        transform: scale(1.7) translateX(-15%);
        text-align: left;
    }

    .publication img {
      width: 75%;
      margin: 52px 12.5% 0px 12.5%;
        
  }

  .second-header div h2 {
      font-size: 30.46px;
      letter-spacing: auto;
  }


}

@media only screen and (max-width: 520px) {



  .publication img {
      width: 75%;
      margin: 52px 12.5% 0px 12.5%;
        
  }

  .second-header div h2 {
      font-size: 30.46px;
      letter-spacing: auto;
  }

    .service-info {
      margin-left: 5%;
      margin-right: 0%;
      margin-top: 16px;
      margin-bottom: -40px;
    }

    .info-text-heading {
      width: 165px;
      margin-right: -45px;
      font-size: 15px;
      line-height: 28px;
    }

    .info-text-specifics {
      font-size: 17px;
      line-height: 24px;
    }

    .menu-item {
        font-size: 20px;
        padding: 20px 0px 40px 5%;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 1px;
        height: 40px;
        text-align: left;
        transform: translateY(2%);
    }

    button.menu-item:after {
      content: url(../img/right-arrow.png); /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #fff;
      float: right;
      padding: 5px 7% 5px 0px;
    }

    .footer-logos img {
      width: 60%;
      margin: 0px 20% 0px 20%;
      margin-top: 60px
    }

    .footer-logos p {
      margin-top: 30px;
      font-size: 14px;
      text-align:center;
    }


}

@media only screen and (max-width: 441px) {

    .hairline {
      margin-top: -70px;
    }

    .my-newspaper-service-logo {
        float: none;
        margin: 80px 20% 0px -20%;
        transform: scale(1.7) translateX(-15%);
        text-align: left;
    }

    #main-header {
        height: 150px;
    }

    .publication img {
      width: 75%;
      margin-top: -20px;
        
  }

  .second-header div h2 {
      font-size: 30.46px;
      letter-spacing: auto;
  }

    .service-info {
      margin-left: 5%;
      margin-right: 0%;
      margin-top: 13px;
      margin-bottom: -40px;
    }

    .info-text-heading {
      width: 165px;
      margin-right: -70px;
      font-size: 12px;
      line-height: 28px;
    }

    .info-text-specifics {
      font-size: 16px;
      line-height: 23px;
      transform: translateY(-0.5%);
    }

    footer {
      height: 210px;
    }

}

@media only screen and (max-width: 410px) {

  .menu-item {
      font-size: 16px;
      padding-top: 15px;
      height: 50px;
  }

  button.menu-item:after {
      content: url(../img/right-arrow.png); /* Unicode character for "plus" sign (+) */
      font-size: 13px;
      color: #fff;
      float: right;
      padding: 5px 7% 5px 0px;
      transform: translateY(-19%);
  }

    .service-info {
      margin-left: 2.5%;
      margin-right: 0%;
      margin-top: 16px;
      margin-bottom: -40px;
    }

    .info-text-heading {
      width: 165px;
      margin-right: -55px;
      font-size: 14px;
      line-height: 27px;
    }

    .info-text-specifics {
      font-size: 16px;
      line-height: 24px;
    }



    /*.my-newspaper-service-logo img{
        margin: -10px 11% 0px 0px;
        transform: translateX(27.5%);
        width: 90%;
    }*/


}

@media only screen and (max-width: 380px) {



    .my-newspaper-service-logo {
        margin: 85px 11% 0px 0px;
        left: -9%;
    }

    .my-newspaper-service-logo img{
        width: 50%;
    }

    #main-header {
        height: 150px;
    }

    .publication img {
      width: 65%;
      margin-left: 18%;
      margin-top: -50px;
        
  }


  .second-header div h2 {
      font-size: 25.46px;
      letter-spacing: auto;
  }

    .service-info {
      margin-left: 5%;
      margin-right: 0%;
      margin-top: 13px;
      margin-bottom: -60px;
    }

    .info-text-heading {
      width: 165px;
      margin-right: -70px;
      font-size: 12px;
      line-height: 28px;
    }

    .info-text-specifics {
      font-size: 16px;
      line-height: 23px;
      transform: translateY(-0.5%);
    }


}

@media only screen and (max-width: 320px) {

  .publication img {
      width: 75%;
      margin-top: -80px;
        
  }

  .menu-item {
      font-size: 14px;
      padding-top:-20px;
  }

  .service-info {
      margin-left: 5%;
      margin-right: 0%;
      margin-top: 13px;
      margin-bottom: -40px;
    }

    .info-text-heading {
      width: 165px;
      margin-right: -75px;
      font-size: 12px;
      line-height: 28px;
    }

    .info-text-specifics {
      font-size: 15px;
      line-height: 24.5px;
      transform: translateY(0%);
      letter-spacing: -0.75px;
    }

}    














